{% extends 'base.html' %}

{{ block.super }}
<!doctype html>
<html lang="en">

<head>

  <title>Login</title>

</head>

<body class="text-center">

  {% block header %}

  {% endblock %}

  {% block servicos %}
  <div class="container-login">
    <div class="row">
      <div class="box-login">

        <div class="borderLogin">

          <!-- Fazer Login -->
          <div>
            <h1 class="h3 font-weight-normal text-center">Fazer Login</h1>
          </div>


          <!-- Input Nome Começo -->
          <div>
            <label class="esquerda" for=""><strong>Nome :</strong></label>
            <input type="text" class="form-control" placeholder="Senha" required>
          </div>
          <!-- Input Nome Fim -->


          <!-- Input Senha Fim -->
          <div>
            <label class="esquerda" for=""><strong>Senha :</strong></label>
            <input type="password" class="form-control" placeholder="Senha" required>
          </div>
          <!-- Input Senha Fim -->


          <!-- Input Checkbox Começo -->
          <div class="checkbox mb-3 mt-3 text-center">
            <label>
              <input type="checkbox" value="remember-me"> Lembrar-se
            </label>

          </div>
          <!-- Input Checkbox Fim -->


          <!-- Input Botão Começo -->
          <div>
            <button class="btn btn-lg btn-dark btn-block" type="submit">Entrar</button>
          </div>
          <!-- Input Botão Fim -->



        </div>

      </div>


    </div>

  </div>
  {% endblock %}

  {% block sugestao %}

  {% endblock %}

  {% block footer %}
  {% endblock %}






</body>

</html>