
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>João Marcos Pereira De Souza</title>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="/static/css/sobre.css" rel="stylesheet">

  </head>
  <body>

    <!-- Define o formato do site : inteiro ou centralizado -->
    <div class="container bg-cinza-claro shadow-sm mt-1">

        <img src="https://cdn.discordapp.com/attachments/421847829070479360/571776484545527808/Anotacao_2019-04-27_152838.png" class="mx-auto d-block" alt="Logo">

      <div class="row">
          <div class="col-lg-8 p-5 mt-5 ml-5">
            <h5 class="centro"> <strong>Justificativa Sistema</strong> </h5>
            <br>
            <p class="centro">Em uma fazenda , diversas atividades de gestão precisam ser bem conduzidas. Estas atividades envolvem o controle de  funcionários, bem como o controle dos animais e o do estoque de produtos, entre outras funções. Este controle ainda é realizado de forma manual, as anotações são realizadas em papel que podem ser danificadas ou perdidas gerando a perda de dados importantes.Frequentemente precisa-se de relatórios para medir o custo de medicamentos usados nos animais, relatórios de movimentação de entrada e saída de produtos e relatórios de ganho de peso dos animais entre outros.
            Com a implementação de um sistema as atividades mencionadas acima tendem a serem automatizadas, isso iria facilitar a troca de dados entre os funcionários , proprietário e colaboradores da fazenda cadastrada fazendo com que a análise desses dados seja feita de maneira mais rápida, segura  possibilitando uma tomada de decisão mais precisa e rápida.
          </p>
          </div>

        <!-- Serve para criar uma coluna e linha  -->
          <div class="centro col-lg p-5 mt-5">
              <h5> <strong>Objetivos</strong> </h5>
              <br>
              <p>- Cadastrar e fazer o Gerenciamento das Fazendas,
              <br>- Funcionários, Colaboradores,    Produtos em Estoque.
              <br>- Gerenciar o Histórico de medicamento aplicados.
              <br>  - Gerenciar a Pesagem do animal, individual ou em grupo.
              <br>  - Gerenciar a entrada e saída de itens.
              <br>  - Gerar Relatórios dos itens mencionados acima
</p>
          </div>
      </div>
    </div>
      <!-- Diagrma de Classe -->
    <div class="container shadow-sm mt-2">

      <div class="">
        <h3 class="centro diagrama ">Diagrama De Classe</h3>

        <div class="row">
          <div class="col-lg-8 mt-1">
            <img class="" src="https://cdn.discordapp.com/attachments/559128298270228572/576544200540028949/Diagrama.png" alt="Diagrama de Classe" >

          </div>
          <!-- Serve para criar uma coluna e linha  -->
            <div class="text-right col-lg p-5 mt-5">
            </div>
        </div>
      </div>
    </div>

  </body>
</html>
